html {
    
    font-family: "Body Text";
    
    color: white;
    
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
}

body {
    
    margin: 0px;
    
    width: 100%;
    
    overflow-x: hidden;
    
    text-align: center;
}

div {
    
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    
    width: 0px;
    background: transparent;
}

h1 {
    
    font-family: "Main Header";
    margin: 10px 0 10px 0;
    padding: 0px;
}

h2 {
    
    margin: 0px;
    padding: 0px;
}

p {
    
    margin: 0px;
    padding: 0px;
}

.name {
    
    color: white;
    text-decoration: none;
    
    position: relative;
}

.name:hover {
    
    color: white;
}

.name:before, .minifilm .name:before, .headerfilm .name:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    
    background: white;
    visibility: hidden;
    
    transition: 0.3s;
    transform-origin: left center;
    transform: scaleX(0);
}

.name:hover:before, .minifilm:hover .name:before, .headerfilm:hover .name:before {
    
    visibility: visible;
    transform: scaleX(1);
}

/* MODALS */

.overlay {
    
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.69);
}

#textmodal {
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    transition: 0.5s;
    
    z-index: 10;
    
    transform: translateY(-100vh);
}

#textmodal-content {
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: rgba(255,255,255,0.5);
    
    min-height: 150px;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 11;
    transform: translate(-50%, -50%);
}

#textmodal-content button {
    
    cursor: pointer;
    
    font-size: 1em;
    
    background: rgba(0,0,0,0);
    border: none;
    
    margin: 5px;
    
    position: absolute;
    top: 0px;
    right: 0px;
}

/* SECTION */

.section {
    
    padding-top: 10px;
    padding-bottom: 20px;
    
}

.sectionheader {
    
    padding-top: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 1vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionheader h1 {
    
    font-size: 2vw;
}

.sectionheader p {
    
    font-size: 1.25vw;
    
    color: black;
    padding: 0.75vw;
}

/* ORIGINAL NAVBAR */

#originalnavbar {
    
    background: #060707;
    color: white;
}

#navtop {
    
    display: grid;
    grid-template-columns: 2fr 125px 2fr;
    grid-template-rows: 175px;
    grid-template-areas: 
        "navleft logo navright";
    
    grid-gap: 25px;
}

#navleft {
    
    grid-area: navleft;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    text-align: right;
}

#navleft a {
    
    font-size: 0.8em;
    color: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    
    text-decoration: none;
}

#logo {
    
    grid-area: logo;
    
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo img {
    
    height: auto;
    width: 98%;
    
    border: 1px solid white;
}

#navright {
    
/*    background: #444444;*/
    grid-area: navright;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#navright, #navleft {

/*    justify-content: flex-end;*/
}

#navright a {
    
    font-size: 0.8em;
    color: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
    
    text-decoration: none;
}

#navright #navsocials {
    
    display: flex;
    flex-direction: row;
    
    margin-top: 7.5px;
}

#navsocial {
    
    width: 3vh;
    height: 3vh;
    
    margin-right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navsocial a {
    
    height: 100%;
}

#navsocial img {
    
    height: 100%;
    width: auto;
}

#originalnav {
    
    font-family: "Main Header";
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    width: 80%;
    height: 69px;
    padding: 0px;
    
    margin-bottom: 0px;
    
    position: relative;
    
    left: 50%;
    
    transform: translateX(-50%);
}

#originalnav p {
    
    font-family: "Body Text";
}

#originalnav li {
    
    list-style: none;
    width: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#originalnav li a {
    
    color: inherit;
    text-decoration: none;
    
    transition: 0.25s;
    
    font-size: 0.7em;
}

/* NAVRBAR */

#navbar {
    
    padding: 0px;
    
    z-index: 1;
    
    border-bottom: 1px solid white;
}

#nav {

    z-index: 1;
    
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;

    border-bottom: 1px solid white;
    
    background: #060707;
    color: white;
    
    margin: 0px;
    padding: 0px;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    transition-duration: 0.5s;
    
    transform: translateY( -100%);
}

#nav li {
    
/*    background: #333333;*/
    
    z-index: 1;
    
    width: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#nav li a {
    
    font-family: "Names";
    z-index: 1;
    
    text-decoration: none;
    color: inherit;
    
    font-size: 0.75em;
}

.navdir, .navhome, .navmini, .navcom, .navmerch, .navabout {
    
    position: relative;
}

/* FOOTER */

#footer {
    
    border-top: 1px solid white;
    
    padding-bottom: 50px;
    
    background: #060707;
    
    font-size: 0.75em;
}

#footercontent {
    
    margin: 15px;
    
    display: flex;
}

#footerlogo {
    
    background: url("/images/logos/LogoHWhite.png");
    background-size: cover;
    
    height: 50px;
    width: 80px;
    
    margin-right: 3vw;
}

#footerabout {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    
    padding-right: 4vh;
    
    margin-right: 4vh;
    
    border-right: 1px solid white;
}

#footerabout a {
    
    text-decoration: none;
    color: white;

    margin-bottom: 5px;
}

#footersocial img {
    
    height: 3vh;
    width: 3vh;
}

#footernav {
    
    display: flex;
    flex-direction: column;
    
    text-align: left;
    
    font-size: 1.15em;
}

#footernav a {
    
    margin-bottom: 5px;
    color: white;
    font-family: "Main Header";
    text-decoration: none;
}

#footerright {
    
    flex-grow: 1;
    
    text-align: right;
    
    color: white;
}

#footerloc {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footerright p {
    
    margin-bottom: 5px;
}

/* HOMEPAGE */

#homepage {
    
    background: #060707;
}

#homepage .navhome:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: white;
    text-decoration: underline;
}

#slides {
    
    position: relative;
}

header {
    
    height: 40vw;
    
    padding: 5vw;
    
    background-size: cover;
    background-position: center;
    
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr;
    
    grid-gap: 7vw;
    
    position: relative;
}

#headerleft {
    
    font-size: 1.5vw;
    
    padding-top: 2.5vw;
    
    text-align: left;
}

#headerfilms {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-gap: 4vw;
}

.headerfilm {
    
    overflow: hidden;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerfilmimg {

    width: inherit;
    
    overflow: hidden;
    
    margin-bottom: 2vw;
}

.headerfilm img {
    
    width: 100%;
}

.headerfilm h2 {
    
    width: 100%;
    
    font-family: "Names";
    text-align: left;
    
    font-size: 2.75vw;
    
    margin-bottom: 1vw;
}

.headerfilm p {
    
    width: 100%;
    text-align: left;
    
    font-size: 1.25vw;
}

#headerright {
    
    text-align: left;
    
    padding-top: 5vw;
    
    font-size: 1.125vw;
    
    overflow: hidden;
}

#headerright img {
    
    height: 4vw;
    
    margin-bottom: 3vw;
}

/*
header .slideshow {
    
    height: 40vw;
    
    background-size: 110% auto;
    background-position: center;
    background-repeat: no-repeat;
    
    animation: fade;
    animation-duration: 0.5s;
    
    transition: 0.5s;
}

header .slideshow:hover {
    
    background-size: 100% auto;
}
*/

/*
@keyframes fade {
    
    from {opacity: 0}
    to {opacity: 1};
}
*/

#nowshowings, #nowshowing {
    
    padding: 0;
}

#minifilms {
    
    margin: 2.5vw 15vw 5vw; 15vw;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
}

#nowshowing h1 {
    
    padding: 10px 0 10px 0;
}

.minifilm {
    
    height: auto;
    width: 15vw;
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.minifilm img {
    
    width: 80%;
    margin-bottom: 1.5vw;
}

.minifilm p {
    
    font-family: "Names";
    font-size: 1.5vw;
}

#minifilminfo {
    
    background: #333333;
        
    height: 0;
    
    overflow: hidden;
    
    transition: 0.5s;
    transition-property: height border-width;
    
    border: 0px solid rgba(0,0,0,0);
    border-left: none;
    border-right: none;
    
    top: 5px;
    
    position: relative;
}

#minifilminfoinner {
    
    text-align: left;
    
    position: relative;
    
    z-index: 2;

    height: 100%;

}

#minifilminfoinner h2, #minifilminfoinner p{
    
    padding: 10px;
}

#minifilminfoinner #nsvideo {
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    width: 100%;
    
    z-index: -1;
}

#minifilmarrow {
    
    position: absolute;
    
    width: 25px;
    height: 25px;
    
    background: #efefef;
    
    top: 0;
    left: 0;
    
    z-index: 3;
    
    transition: 0.25s;
    
    transform: translate(-50%, -50%) rotateZ(45deg);
}

#film1 {
    
    grid-area: film1;
}

#film2 {
    
    grid-area: film2;
}

#film3 {
    
    grid-area: film3;
}

#film4 {
    
    grid-area: film4;
}

#film5 {
    
    grid-area: film5;
}

header .slideshow {

    width: 100%;
    object-fit: cover;
    
/*
    animation-name: fade;
    animation-duration: 1s;
*/
}

#slidebuttonright, #slidebuttonleft {
    
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    
    top: 50%;
    height: 50px;
    width: 50px;
    
    position: absolute;
    
    transform: translateY(-50%);
    
    transition: 0.5s;
}

#slidebuttonright {
    
    right: 0px;
}

#slidebuttonleft {

    left: 0px;
}

#slidebuttonleft:hover, #slidebuttonright:hover {
    
    background-color: rgba(0,0,0,0.5);
}

/* CALENDAR */

#calendarsection {
    
    background: white;
    color: #060707;
}

#calendarinfo {
    
    position: relative;
    
    margin: 0 5vw 0 5vw;
    
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    align-items: center;
}

#calendar {
    
    align-self: center;
    
    padding: 10px;
    
    border-radius: 10px;
    
    font-family: "Names";
    
    border: 1px solid #060707;
}

#daylabels {
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 7.5px;
}


#daylabels div {
    
    border-bottom: 1.5px solid rgba(0,0,0,0.25);
}


#days {
    
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 7.5px;
    
    font-size: 1.75vw;
}

.day {
    
    width: 4vw;
    height: 4vw;
    cursor: default;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 10;
    
    transition: 0.25s;
}

.eventfulm {
    
    background:  #fcb040;
}

.eventfuls {
    
    background:  #a8dac7;
}

#dayright {
    
    height: 100%;
    
    text-align: left;
}

#dayinstruct {
    
    padding: 10px;
    
    font-family: "Names";
    font-size: 2vw;
}


#dayinfo {
    
    position: relative;
    
    z-index: 1;
    
    opacity: 0;
    
    transition: 0.25s;
}

#dayinfo h3 {
    
    text-align: left;
    
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    
    font-size: 2vw;
    
    font-family: "Names";
}

#dayinfo p {
    
    text-align: left;
    padding-left: 10px;
}

#dayinfo #dayinfoname {
    
    color: clear;
    
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

#dayinfobottom {
    
    display: flex;
    flex-direction: row;
}

#daynumber {
    
    display: flex;
    flex-direction: column;
}

#daynumber, #dayinfofilm {
    
    font-size: 2vw;
    font-family: "Names";
}

#daynumber p, #dayinfofilm {
    
    width: auto;
    padding: 10px;
}

#dayfb {
    
    height: 6vw;
    width: 6vw;
}

#dayinfolist {
    
    display: flex;
    flex-direction: column;
    
    font-size: 2vw;
}

.daylabel {
    
    font-weight: bold;
}

.dayanswer {
    
    transform: translateX(2vw);
}

#dayreserve {
    
    margin-top: 10px;
}

#calendarbottom {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-left: 7.5vw;
    
    font-size: 1.5vw;
}

.daycolor {
    
    height: 3vw;
    width: 3vw;
}

#calendarbottom p {
    
    margin: 0 3vw 0 1vw;
}

/* ABOUT */

#about {
    
    background-color: #FFF;
    color: #060707;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#about h1 {
    
    font-family: "Names";
    margin-right: 100px;
    
    text-align: left;
}

#about .navabout:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: white;
    text-decoration: underline;
}

#aboutcontent {
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    display: grid;
    grid-template-columns: auto auto;
}

#aboutnavbar {
    
    background: #fff;
    
    padding-top: 80px;
    
    min-width: 175px;
/*    width: 15vw;*/
    height: auto;
    width: 15vw;
    
    overflow: hidden;
    
    top:0;
    
    text-align: left;
}

#aboutnavcontainer {
    
    padding-left: 25px;
    
    position: fixed;

    min-width: inherit;
    width: inherit;
    height: inherit;
    
    overflow: hidden;
    
    top: 350px;
    
    display: flex;
    flex-direction: column;
    
    transition-property: height;
    
/*    border-right: 1px solid #060707;*/
    
    font-family: "Main Header";
    font-size: 0.75em;
}

#aboutnavbar h3 {
    
    margin: 2px;
}

.aboutcontact {
    
    margin: 0;
    margin-bottom: 2px;
    
    font-family: "Body Text";

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 0.55em;
}

.aboutcontacticon {
    
    margin-left: 5px;
    margin-right: 5px;
    
    height: 15px;
    width: 15px;
}

.invert {
    
    filter: invert(100%);
}

#aboutnavbar a {
    
    font-size: 1.25em;
    padding-right: 20px;
    
    text-decoration: none;
    color: #060707;
}

#aboutsections {
    
    transition: 0.5s;
    padding: 20px;
    
    align-self: flex-end;
}

#about .section {
    
    text-align: justify;
    
    padding: 20px;
}

#partnersrow {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#partnersrow img {
    
    height: 20vw;
    width: 20vw;
    
    margin-right: 5px;
}

/* DIRECTORS */

#directors {
    
    background: #df3e3f;
}

#directors .navdir:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: #df3e3f;
    text-decoration: underline;
}

#directorsection {
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    padding-left: 5vw;
    padding-right: 5vw;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.directorpanel {
    
    margin-bottom: 25px;
    
    margin: 2vw 4.20vw 2vw 4.20vw;
    
    width: 18vw;
    
    position: relative;
    
    background: rgba(0,0,0,0.125);
    
    overflow: hidden;
}

.directorpanel p {
    
}

.directorpanel .directorname {
    
    position: absolute;
    left: 0;
    bottom: 1vw;
    
    max-width: 80%;
    overflow-x: hidden;
    
    transition: 0.25s;
    transform-origin: left center;
    transform: scaleX(0);
}

.directorpanel:hover .directorname {
    
    transform: scaleX(1);
}

.directorimage {
    
    position: relative;
    
    overflow: hidden;
}

.directorimage a {
    
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.directorimage img {
    
    height: auto;
    width: 100%;
}

.dirfirstname, .dirlastname {
    
    font-size: 2vw;
    padding: 0;
}

.dirfirstname, .dirlastname, .dirpanelbottom {
    
    font-family: "Names";
}

.dirfirstname, .dirlastname {
    
    color: white;
}

.dirdate, .dirpanelbottom {
    
    color: #060707;
}

.dirdate {
    
    font-family: "Dates";
    font-size: 2vw;
}

.dirpanelbottom {
    
    font-size: 1.75vw;
}

/*
.directorimage {
    
    overflow: hidden;
}

.directorimage img {
    
    height: 100%;
}

.directorimage a {
    
    height: 100%;
}

.directorimage img {

    height: 100%;
    
    transform-origin: center center;
    transform: scale(1.15);
    
    transition: 0.25s;
}

.directorimage:hover img {
    
    transform: scale(1);
}
*/

/* INDIV DIRECTORS */

#dirheader {
    
    height: 52.5vw;
    
    position: relative;
    
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#dirnav {
    
    font-family: "Names";
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    position: absolute;
    top: 20px;
    left: 50%;
    
    transform: translateX(-50%);
}

#dirnav a {
    
    font-size: 2vw;
    margin-left: 10px;
    margin-right: 10px;
    
    color: white;
    text-decoration: none;
    
    white-space: nowrap;
}

#dirheaderinfo {
    
    height: 100%;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
/*    align-items: flex-start;*/
    
    text-align: left;
}

#dirheaderinfo p {
    
    width: 75%;
}

#idirfirstname, #idirlastname {
    
    font-family: "Main Header";
    
    font-size: 3vw;
}

#idirdate {
    
    font-family: "Dates";
    
    padding-top: 3px;
    padding-bottom: 3px;
}

#idirheading, #idirpar {
    
    padding-top: 1.5px;
    
    font-size: 1.75vw;
}

#idirheading {
    
    font-style: italic;
    font-weight: bold;
}

#dirfilms {
    
    display: flex;
    
    bottom: 0;
    right: 0;
    
    margin-top: 10px;
    margin-bottom: 5px;
}

.dirfilm {
    
    margin-left: 10px;
    margin-right: 5px;
    
    widtH: 10vw;
    height: 15vw;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dirfilm img {
    
    height: 100%;
}

#dirinstruct {
    
    width: 15vw;
    position: absolute;
    margin: 25px;
    
    bottom: 0;
    left: 0;
    
    text-align: left;
    
    font-size: 1.75vw;
    font-family: "Names";
}

#dirstory {
    
    padding: 20px;
    padding: 40px 20px 40px 20px;
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    
    color: #060707;
}

#dirillustration {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    
    height: 33vh;
    width: 22vh;
}

#dirillustration img {
    
    height: 100%;
    width: auto;
}

#dirdesc {
    
    text-align: justify;
    column-count: 3;
    column-gap: 30px;
    
    font-size: 0.75em;
}

#dirprocessguide {
    
    padding: 40px 20px 40px 40px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: justify;
    
    color: black;
    font-size: 0.75em;
    
    background: white;
}

#dirprocessguide h2 {
    
    text-align: center;
    margin-bottom: 10px;
}

#dirtrivia {
    
    padding: 40px 20px 40px 20px;
    
    text-align: left;
    
    color: black;
    font-size: 0.75em;
    
    width: 50%;
}

/* INDIVIDUAL FILMS */

#ifilms {
    
    background: white;
}

#filmheader {
    
    height: 40vw;
    
    background-size: cover;
    background-position: center;
    padding: 7.5vw;
    
    display: grid;
    grid-template-columns: 1fr 1.420fr;
    grid-gap: 50px;
}

#filmheaderleft, #filmheaderright {
    
    height: 100%;
    
    background: rgba(0,0,0,0.5);
    
    position: relative;
}

#filmposter {
    
    position: absolute;
    
    right: 0;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#filmdirector {
    
    position: absolute;
    left: 0;
    top: -5vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#filmdirector p {
    
    font-family: "Names";
    font-size: 1.75vw;
}

#filmdirector img {
    
    height: auto;
    width: 12vw;
}

#filmposter img {
    
    position: absolute;
    right: 0;
    bottom: -11vw;
    
    height: auto;
    width: 24vw;
}

#filmheaderright {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: left;
}

#filmheaderright p {
    
/*    width: 85%;*/
}

#filmdetails {
    
    font-family: "Dates";
    
    font-size: 2.125vw;
}

#filmtitle {
    
    font-family: "Main Header";
    
    font-size: 3vw;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

#filmheading, #filmdesc {
    
    font-size: 1.75vw;
    line-height: 145%;
}

#filmheading {
    
    font-style: italic;
    font-weight: bold;
}

#filminfo {
    
    background: white;
    
    padding: 5.25vw 7.5vw 5.25vw 7.5vw;
    
    display: grid;
    grid-template-columns: 1fr 1.420fr;
    
    color: black;
}

#filminfoleft, #filminforight {
    
/*    background: rgba(0,0,0,0.5);*/
}

#filminfoleft {
    
    padding-right: 25px;
    
    border-right: 1.5px solid black;
}

#filminforight {
    
    padding-left: 25px;
}

#filminfotrailer {
    
    font-family: "Names";
    
    font-size: 1.75vw;
    
    color: #df3e3f;
    
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.filminfoheading {
    
    font-family: "Names";
    font-size: 2vw;
    
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#filminfocc {
    
    margin-top: 2vw;
    
    text-align: left;
    text-transform: uppercase;
    
    font-size: 1.6vw;
}

.filminfoitalic {
    
    font-style: italic;
    font-weight: bold;
}

#filminfoca {
    
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

.filmcaitem {
    
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    
    margin-bottom: 15px;
}

.filmcabullet {
    
    height: 3vw;
    width: 3vw;
    
    border-radius: 50%;
    background: #df3e3f;
    
    margin-right: 20px;
}

.filmcaitem p {
    
    font-size: 1.75vw;
    font-weight: bold;
}

#filmvote {
    
    border: 1px solid black;
    margin-top: 2vw;
    padding: 2vw;
}

#filmvoteheading {
    
    color: #df3e3f;
    font-family: "Names";
    font-size: 1.69vw;
}

.votebar {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 10px;
}

.votemeter {
    
    height: 4vw;
    width: 4vw;
    min-width: 4vw;
    max-width: 80%;
    
    border: 1px solid #df3e3f;
    
    transition: 0.5s;
    
    text-indent: 1vw;
    
    text-align: left;
    font-size: 1.8vw;
    color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/*
.votemeter:hover {
    
    width: 80%;
    background: #df3e3f;
}
*/

.votelabel {
    
    font-weight: bold;
    
    text-align: left;
    
    margin-left: 10px;
}

#filmqi {
    
    margin-top: 3vw;
    
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    
    grid-gap: 1vw;
}

#filmquote {
    
    font-size: 2vw;
    font-family: "Names";
    text-align: left;
}

#filmqi img {
    
    width: 100%;
}

/* MINIFESTS */

#minifests {
    
    background: #f7a289;
}

#minifests .navmini:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: #f7a289;
    text-decoration: underline;
}

.minifestpanel {
    
    padding: 50px 50px 50px 50px;
}

.minifestpanelbg {
    
    background-position: center;
    background-size: cover;
    
    height: 40vw;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 15px
}

.minifestpanel h1 {
    
    margin: 0;
    
    font-size: 3vw;
}

.minifestpanelbg p {
    
    width: 50%; 
    font-size: 1.5vw;
}

.minifestfilms {
    
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.minifestfilms .minifestfilm {
    
    height: 18vw;
    width: 12vw;
    
    margin: 0 20px 0 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.minifestfilm a, .minifestfilm img {
    
    height: 100%;
}

/* COMMUNITY */

#community {
    
    background: #a8dac7;
}

#community .navcom:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: #a8dac7;
    text-decoration: underline;
}

#commposts {
    
    padding: 7.5vw;
    padding-top: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    grid-gap: 7.5vw;
}

.commpost {
    
    width: 100%;
    
    transition: 0.5s;
    opacity: 0;
}

.commpost:nth-child(1), .commpost:nth-child(2), .commpost:nth-child(3) {
    
    opacity: 1;
}

.commpost img {
    
    width: 100%;
}

.commpost p {
    
    word-break: break-all;
    width: 100%;
}

/* INDIVIDUAL POST */

#ipost {
    
    background: #a8dac7;
}

#postcontent {
    
    padding: 25px;
    padding-bottom: 0;
    
    display: grid;
    grid-template-columns: auto 150px;
    
    grid-gap: 25px;
}

#postcontentleft p {
    
    padding-top: 10px;
    padding-bottom: 10px;
}

#postcontentleft {
    
    background: rgba(0,0,0,0.25);
    text-align: left;
    padding: 25px;
}

#postcontentright {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#postcontentright p {
    
    margin-bottom: 20px;
}

#postcontentright img {
    height: auto;
    width: 100%;
}

#postimage img {
    
    padding: 10px 0 10px 0;
    width: 100%;
}

#postbottom {

    padding: 0 8vw 50px 8vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 8vw;
}

.otherpost a {
    
    color: white;
    text-decoration: none;
}

#postbottom img {
    
    width: 100%;
    
}

/* MERCH */

#merch {
    
    background: #ef8cba;
}

#merch .navmerch:before {
    
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -3px;
    
    background: #ef8cba;
    text-decoration: underline;
}

#instructions {
    
    margin: 0 0 0 0;
    padding: 25px;
    
    font-size: 1.25em;
}

.stickerset {
    
    display: flex;
    flex-direction: column;
}

.stickerset h2 {
    
    text-align: center;
    
    font-size: 4vw;
    
    margin-bottom: 25px;
}

.stickerpics {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.stickerfilm {
    
    margin: 0 4vw 0 0;
}

.stickerimg {
    
    height: 30vw;
    width: 20vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

.stickerimg img {
    
    height: 100%;
    width: auto;
}

.stickers {
/*

    margin-right: 25px;
*/
}

.stickers {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    align-items: start;
    justify-items: center;
    
    grid-gap: 20px;
}


.sticker {
    
    background: #cd6a97;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 15vw;
    
    overflow: hidden;
    
    cursor: pointer;
}

.sticker img {
    
    width: 100%;
}   

/* MODULE */

#module {
    
    background: #f7a289;
}

#module #dirinstruct {
    
    display: none;
}

#moduleheader {
    
    height: 40vw;
    
    position: relative;
    
    overflow: hidden;
}

#moduleinstruct {
    
    position: absolute;
    left: 0;
    bottom: 0;
        
    margin: 10px;
}

#toc {
    
    position: fixed;
    
    z-index: 2;
    
    top: 320px;
    right: 20px;
    
    transform: scaleX(2);
    
    cursor: pointer;
}

#toccontent {
    
    background: rgba(0,0,0,0.5);
    
    position: fixed;
    
    z-index: 5;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: 0.5s;
    transform: translateY(-100%);
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    padding: 5vw;
}

#toccontent a {
    
    color: white;
    text-decoration: none;
    margin: 5px;
}

#moduleheader {
    
    position: relative;
}

#moduleheader video {
    
    background: rgba(0,0,0,0.5);
    
    width: 100%;
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

#moduledl {
    
    position: absolute;
    
    margin: 10px;
    
    right: 0;
    bottom: 0;
}

#moduledl a {
    
    color: white;
    text-decoration: none;
}

#moduleprinted {
    
    height: 40vw;
}

#modulecolumns {
    
    height: 40vw;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding: 25px 4vw 25px 4vw;
    grid-gap: 4vw;
}

.modulecolumn {
    
    background: rgba(0,0,0,0.25);
    
    padding: 10px;
}

#modulegq {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#modulegq #gqleft {
    
    padding: 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modulegq h2 {
    
    width: 75%;
    font-size: 5vw;
}

#gqs {
    
    padding: 25px;
}

#modulegq p {
    
    margin: 5px 0 5px 0;
}

#moduleqt {
    
    height: 40vw;
}

.lookat {
    
    padding: 50px;
    
    font-size: 5vw;
    text-decoration: underline;
}

.lookat a {
    
    color: white;
}

/*
.section {
    
    min-height: 50vh;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#parallax1 {
    
    height: 50vh;
    background: url("images/sample.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax2 {
    
    height: 50vh;
    background: url("images/sample2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

/* FONT FACES */

@font-face {
    
    font-family: "Main Header";
    src: url("fonts/Turnpike.ttf");
}

@font-face {
    
    font-family: "Names";
    src: url("fonts/Harbour Bold.ttf");
}

@font-face {
    
    font-family: "Body Text";
    src: url("fonts/Roboto Mono.ttf");
}

@font-face {
    
    font-family: "Dates";
    src: url("fonts/Akzidenz Grotesk.otf");
}

.modal {
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    z-index: 10;
    
    background: rgba(0,0,0,0.5);
    
    transition: 0.25s;
    
    transform: translateY(-100vh);
}

#imgmodalcontainer {
    
    width: 50vh;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

#imagemodal img {
    
    height: auto;
    width: 100%;
}

.closemodalbutton {
    
    position: absolute;
    
    right: 0;
    top: 0;
    padding: 10px;
    padding-right: 15px;
    
    cursor: pointer;
}

/* EASE OF CHANGING FONTS */

.fontTurnpike {
    
    font-family: "Main Header";
}

.fontHarbour {
    
    font-family: "Names";
}

.fontRoboto {
    
    font-family: "Body Text";
}

.special {
    
    font-family: "Names";
    font-size: 1.5em;
}