html {
    
    font-family: "Body Text";
    
    color: white;
    
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
}

body {
    
    margin: 0px;
    padding-top: 120px;
    padding-bottom: 75px;
    
    width: 100%;
    
    text-align: center;
}

::-webkit-scrollbar {
    
    width: 0px;
    background: transparent;
}

h1 {
    
    font-family: "Main Header";
    margin: 10px 0 10px 0;
    padding: 0px;
}

p {
    
    margin: 0px;
    padding: 0px;
}

/* NAVRBAR */

#navbar {
    
    padding: 0px;

    z-index: 1;
}

#nav {

    position: fixed;
    top: 0;
    width: 100%;
    
    height: 75px;

    padding: 20px 0 20px 0;
    margin: 0px;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav li {
    
/*    background: #333333;*/
    
    height: inherit;
    width: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#nav li a {
    
    text-decoration: none;
    color: white;
}

/* HOMEPAGE */

#homepage {
    
    background: #060707;
    
    display: flex;
    flex-direction: column;
}

header {
    
/*    background: #444444;*/
}

#slides {
    
    position: relative;
}

header .slideshow {
    
    height: 40vw;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#minifilms {
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw;
    grid-template-areas:
        "film1 film2 film3";
    grid-gap: 10px;
}


.minifilm {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#film1 {
    
    grid-area: film1;
}

#film2 {
    
    grid-area: film2;
}

#film3 {
    
    grid-area: film3;
}

header .slideshow img {

    width: 100%;
    object-fit: cover;
    
/*
    animation-name: fade;
    animation-duration: 1s;
*/
}

#slidebuttonright, #slidebuttonleft {
    
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    
    top: 50%;
    height: 50px;
    width: 50px;
    
    position: absolute;
    
    transform: translateY(-50%);
    
    transition: 0.5s;
}

#slidebuttonright {
    
    right: 0px;
}

#slidebuttonleft {

    left: 0px;
}

#slidebuttonleft:hover, #slidebuttonright:hover {
    
    background-color: rgba(0,0,0,0.5);
}

#calendarinfo {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
}

#calendar {
    
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 10px;
    
    background: #333333;
    
    border-radius: 5%;
    align-self: start;
}

#daylabels {
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#days {
    
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day {
    
    width: 40px;
    height: 40px;
    cursor: default;
    background: #222222;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 10%;
    
    transition: 0.25s;
}

.eventful {
    
    background: #777777;
}

.day:hover {
    
    background: #666666;
}

#dayinfo {
    
    background: #666666;
    
/*    margin-left: 10px;*/
    margin-right: 25px;
    
    height: 250px;
    width: 100%;
    overflow: hidden;
    
/*    max-width: 0;*/
    
    transition: 0.5s;
}

#dayinfo p {
    
    text-align: left;
    padding: 10px;
}

/* DIRECTORS */

#directors {
    
    background: #df3e3f;
}

#directorsection {
    
    margin-top: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.directorpanel {
    
    height: 200px;
    width: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.directorimage {
    
    background-repeat: none;
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    width: 200px;
    
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}

.directorimage:hover {
    
    background-size: auto 100%;
}

/* MODULES */

#modules {
    
    background: #f7a289;
}

/*
.section {
    
    min-height: 50vh;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#parallax1 {
    
    height: 50vh;
    background: url("images/sample.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax2 {
    
    height: 50vh;
    background: url("images/sample2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

/* FONT FACES */

@font-face {
    
    font-family: "Main Header";
    src: url("fonts/Turnpike.ttf");
}

@font-face {
    
    font-family: "Main Header";
    src: url("fonts/Turnpike.ttf");
}

@font-face {
    
    font-family: "Body Text";
    src: url("fonts/Roboto Mono.ttf");
}
