html {
    
    font-family: "Body Text";
    
    color: white;
    
    margin: 0px;
    padding: 0px;
    
    font-size: 16px;
}

body {
    
    margin: 0px;
    padding-top: 20px;
    
    width: 100%;
    
    text-align: center;
}

::-webkit-scrollbar {
    
    width: 0px;
    background: transparent;
}

h1 {
    
    font-family: "Main Header";
    margin: 10px 0 10px 0;
    padding: 0px;
}

h2 {
    
    margin: 0px;
    padding: 0px;
}

p {
    
    margin: 0px;
    padding: 0px;
}

.zoomhover {
    
    background-repeat: none;
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}

.zoomhover:hover {
    
    background-size: auto 100%;
}

/* SCROLLBAR */

#scrollbar {
        
    position: fixed;
    top: 5px;
    right: 5px;
}

#scrollindicator {

    background: white;
    
    height: 100px;
    width: 7.5px;
    
    border-radius: 10%;
}

/* MODALS */

.overlay {
    
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.69);
}

#textmodal {
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    transition: 0.5s;
    
    z-index: 10;
    
    transform: translateY(-100vh);
}

#textmodal-content {
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: rgba(255,255,255,0.5);
    
    min-height: 150px;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 11;
    transform: translate(-50%, -50%);
}

#textmodal-content button {
    
    cursor: pointer;
    
    font-size: 1em;
    
    background: rgba(0,0,0,0);
    border: none;
    
    margin: 5px;
    
    position: absolute;
    top: 0px;
    right: 0px;
}

/* SECTION */

.section {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ORIGINAL NAVBAR */

#navtop {
    
    display: grid;
    grid-template-columns: 2fr 175px 2fr;
    grid-template-rows: 175px;
    grid-template-areas: 
        "navleft logo navright";
    
    grid-gap: 50px;
}

#navleft {
    
    grid-area: navleft;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    text-align: right;
}

#navleft a {
    
    color: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
}

#navleft p {
    
    cursor: pointer;
}

#logo {
    
    grid-area: logo;
    
    overflow: hidden;
    
    border-radius: 50%;
}

#logo img {
    
    height: auto;
    width: 100%;
}

#navright {
    
/*    background: #444444;*/
    grid-area: navright;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navrighticon {
    
    border-radius: 50%;
    
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.navrighticon img {
    
    widtH: 100%;
}

#originalnav {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 75px;
    
    margin-bottom: 0px;
}

#originalnav li {
    
    list-style: none;
    width: 100px;
}

#originalnav li a {
    
    color: inherit;
    text-decoration: none;
    
    transition: 0.25s;
}

/* NAVRBAR */

#navbar {
    
    padding: 0px;
    
    z-index: 1;
    
    border-bottom: 1px solid white;
}

#nav {

    z-index: 1;
    
    position: fixed;
    top: -200%;
    width: 100%;
    height: 75px;

    border-bottom: 1px solid white;
    
    margin: 0px;
    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    transition-property: all;
    transition-duration: 0.25s;
}

#nav li {
    
/*    background: #333333;*/
    
    z-index: 1;
    
    width: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#nav li a {
    
    z-index: 1;
    
    text-decoration: none;
    color: inherit;
}

/* FOOTER */

#footer {
    
    border-top: 1px solid white;
    
    margin-top: 50px;
    padding-top: 10px;
    
    padding-bottom: 50px;
}

#footercontent {
    
    margin: 10px;
    
    display: flex;
}

#footerlogo {
    
    background: url("/images/birdnull.jpg");
    background-size: cover;
    
    height: 100px;
    width: 100px;
    
    margin-right: 20px;
}

#footerabout {
    
    display: flex;
    flex-direction: column;
    text-align: left;
    
    margin-right: 20px;
}

#footerabout a {
    
    text-decoration: none;
    color: white;
}

#footersocial img {
    
    height: 50px;
    width: 50px;
}

#footercopyright {
    
    flex-grow: 1;
    
    text-align: right;
}

/* HOMEPAGE */

#homepage {
    
    background: #060707;
    
    display: flex;
    flex-direction: column;
}

#homepage #nav {
    
    background: #060707;
}

#slides {
    
    position: relative;
}

header {
    
    height: 60vh;
    
    background-size: 110% auto;
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*
header .slideshow {
    
    height: 40vw;
    
    background-size: 110% auto;
    background-position: center;
    background-repeat: no-repeat;
    
    animation: fade;
    animation-duration: 0.5s;
    
    transition: 0.5s;
}

header .slideshow:hover {
    
    background-size: 100% auto;
}
*/

@keyframes fade {
    
    from {opacity: 0}
    to {opacity: 1};
}

#minifilms {
    
    margin: 0 40px 0 40px;
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vw;
    grid-template-areas:
        "film1 film2 film3 film4 film5";
    grid-gap: 15px;
}

.minifilm {
    
    cursor: pointer;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    transition: 0.25s;
}

.minifilm:hover {
    
    opacity: 0.75;
}

#film1 {
    
    grid-area: film1;
}

#film2 {
    
    grid-area: film2;
}

#film3 {
    
    grid-area: film3;
}

#film4 {
    
    grid-area: film4;
}

#film5 {
    
    grid-area: film5;
}

header .slideshow {

    width: 100%;
    object-fit: cover;
    
/*
    animation-name: fade;
    animation-duration: 1s;
*/
}

#slidebuttonright, #slidebuttonleft {
    
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    
    top: 50%;
    height: 50px;
    width: 50px;
    
    position: absolute;
    
    transform: translateY(-50%);
    
    transition: 0.5s;
}

#slidebuttonright {
    
    right: 0px;
}

#slidebuttonleft {

    left: 0px;
}

#slidebuttonleft:hover, #slidebuttonright:hover {
    
    background-color: rgba(0,0,0,0.5);
}

/* CALENDAR */

#calendarinfo {
    
    left: 50%;
    
    transform: translateX(-50%);
    
    max-width: 1000px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

#calendar {
    
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
    
    background: #333333;
    
    border-radius: 5%;
}

#dayinstruct {
    
    transform: translateX(25%);
    right: 25%;
    width: 200px;
    position: absolute;
}

#daylabels {
    
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#days {
    
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day {
    
    width: 30px;
    height: 30px;
    cursor: default;
    background: #222222;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 10%;
    
    transition: 0.25s;
}

.eventful {
    
    background: #777777;
}

.day:hover {
    
    background: #666666;
}

#dayinfo {
    
    z-index: 1;
    
    background: #666666;
    margin: 25px;
    
    height: 250px;
    width: 100%;
    
    opacity: 0;
    
    transition: 0.25s;
    
    transform-origin: left center;
}

#dayinfo h3 {
    
    text-align: left;
    
    
    margin: 0px;
    padding: 10px;
}

#dayinfo p {
    
    text-align: left;
    padding-left: 10px;
}

#dayinfo #dayinfoname {
    
    color: clear;
    
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

#dayinfo #dayinfolink {
    
    color: white;
}

/* ABOUT */

#about {
    
    background-color: #FFF;
    color: #060707;
}

.aboutsection {
    
}

/* DIRECTORS */

#directors {
    
    background: #df3e3f;
}

#directors #nav {
    
    background: #df3e3f;
}

#directorsection {
    
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    align-items: center;
    justify-items: center;
}

.directorpanel {
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    position: relative;
    
    background: black;
    
    overflow: hidden;
}

.directorpanel p {
    
    padding: 5px;
}

.directorpanel .directorname {
    
    position: absolute;
    bottom: 10px;
    
    background: black;
    
    max-width: 0;
    overflow-x: hidden;
    
    transition: 0.25s;
}

.directorpanel:hover .directorname {
    
    max-width: 100%;
}

.directorimage {
    
    overflow: hidden;
}

.directorimage img {

    height: 100%;
    width: auto;
    
    transform-origin: center;
    transform: scale(1.15);
    
    transition: 0.25s;
}

.directorimage:hover img {
    
    transform: scale(1);
}

/* MINIFESTS */

#minifests {
    
    background: #f7a289;
}

#minifests #nav {

    background: #f7a289;
}

/*
.section {
    
    min-height: 50vh;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#parallax1 {
    
    height: 50vh;
    background: url("images/sample.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#parallax2 {
    
    height: 50vh;
    background: url("images/sample2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

/* FONT FACES */

@font-face {
    
    font-family: "Main Header";
    src: url("fonts/Turnpike.ttf");
}

@font-face {
    
    font-family: "Main Header";
    src: url("fonts/Turnpike.ttf");
}

@font-face {
    
    font-family: "Body Text";
    src: url("fonts/Roboto Mono.ttf");
}
